.background-0 {
  background-image: url(../pages/img/allef-vinicius-398692-unsplash.jpg);
}

.hovedtittel > h1 {
  text-align: left;
  top: 60px;
  font-size: 3.4em;
  margin-left: 100px;
}

.hovedtittelNederst > h1 {
  font-family: "Patua One", cursive;
  font-weight: 400;
  font-size: 3.4em;
  color: #ffffff;
  text-align: left;
  margin-left: 100px;
  margin-top:-20px;
  position: absolute;
  top: 50%;
  width: 100%;
  overflow: hidden;
  top: 520px;
}
