#title0{
  background-image: url(../pages/img/allef-vinicius-398692-unsplash.jpg);
}

#title0 .hovedtittel > h1{
  font-family: "Patua One", cursive;
  text-align: center;
  color: #ffffff;
  top: 6vh;
  font-size: 3.4em;
  position: absolute;
  width: 100%;
}

#title0 .hovedtittelNederst > h1{
  font-family: "Patua One", cursive;
  font-weight: 400;
  font-size: 3.4em;
  color: #ffffff;
  text-align: center;
  left: 22vw;
  position: absolute;
  overflow: hidden;
  top: 58vh;
}
