#title1{
  background-image: url(../pages/img/1-title.jpg);
}


#title1 .hovedtittel > h1{
  overflow: hidden;
  z-index: 1;
  text-align: left;
  position: absolute;
  left: 15vw;
  top: 29vh;
  font-size: 3.4em;
  color: #333333;
}
