#title2{
  background-image: url(../pages/img/1-title.jpg);
  background-position: top left;
}

#title2 .intro > h3{
  font-family: "Patua One", cursive;
  font-size: 1.8em;
  color: #BF5106;
  overflow: hidden;
  z-index: 2;
  top: 6vh;
  position: absolute;
  padding-left: 15vw;
}


#title2 .hovedtittel > h1{
  font-size: 3.4em;
  overflow: hidden;
  text-align: left;
  position: absolute;
  top: 25vh;
  left: 15vw;
  color: #333333;
  z-index: 1;
}
