#title3{
  background-image: url(../pages/img/allef-vinicius-398692-unsplash.jpg);/*bare midlertidig bilde*/
  background-position: top;
  background-size: cover;
}


#title3 .hovedtittel > h1{
  font-family: "Patua One", cursive;
  font-weight: 400;
  font-size: 3.4em;
  color: #ffffff;
  text-shadow: 1px 1px 6px #808080;
  text-align: center;
  overflow: hidden;
  top: 60vh;
  position: absolute;
  width: 100%;
}
