#title3{
  background-image: url(../pages/img/reisen2.jpg);
  background-position: top;
  background-size: cover;
}


#title3 .hovedtittel > h1{
  font-family: "Patua One", cursive;
  font-weight: 400;
  font-size: 3.4em;
  color: #EFEFEF;
  text-shadow: 1px 1px 6px #0008;
  text-align: center;
  overflow: hidden;
  top: 3em;
  position: absolute;
  width: 100%;
  line-height: 1.1em;
}
