#title5{
  background-image: url(../pages/img/livet.etterpaa.jpg);
  background-position: top;
  background-size: cover;
}


#title5 .hovedtittel > h1{
  font-family: "Patua One", cursive;
  font-weight: 400;
  font-size: 2.7em;
  color: #EFEFEF;
  text-align: center;
  top: 45vh;
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  text-shadow: 1px 5px 10px #0008;
  line-height: 1.1em;
}
