#title6{
  background-image: url(../pages/img/kurdiske.kvinner.3.jpg);
}

#title6 .hovedtittelNederst > h1{
  font-family: "Patua One", cursive;
  font-weight: 400;
  font-size: 3.4em;
  color: #ffffff;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 58vh;
  line-height: 1.1em;
  text-shadow: 1px 1px 2px #0008;
}
