/* Halvard */
:root {
  --BG: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container, .card {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: var(--BG);
}

.card {
  text-align: center;
  position: absolute;
}

.wrapper{
  min-height: 100vh;
  width:100vw;
  max-width: 1000px;

  margin: 0 auto;

  overflow: hidden;
  position: relative;
  background-color: #EFEFEF;
}

.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 100vh;
  max-height: 50em;
  max-width: 15vw;
  cursor: pointer;
  opacity: .8;
  width: initial;
}

/* Animasjon, navigasjon ned */
@-webkit-keyframes arrow-jump {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1.5vh);
    -moz-transform: translateY(-1.5vh);
    -o-transform:translateY(-1.5vh);
    transform: translateY(-1.5vh);
  }

  20% { opacity: .9; }

  95% { opacity: .3; }

  100% {
    opacity: 0;
    -webkit-transform: translateY(1.5vh);
    -moz-transform: translateY(1.5vh);
    -o-transform:translateY(1.5vh);
    transform: translateY(1.5vh);
  }
}

.down-arrow-wrapper {
  opacity: .7;
}

.down-arrow {
  z-index: 2;
  cursor: pointer;

  width: 14vw;
  max-width: 10em;
  object-fit: contain;
  object-position: center;

  position: absolute;
  bottom: 2vh;
  left: 0;
  right: 0;
  margin: 0 auto;

  -webkit-animation: arrow-jump 2s linear infinite;
  -moz-animation: arrow-jump 2s linear infinite;
  -o-animation: arrow-jump 2s linear infinite;
  animation: arrow-jump  2s linear infinite;
}
