@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');

#hoyre{
    position: fixed;
    right: 0;
    top: 20%;
    width: 50px;
    z-index: 99;
}
#venstre{
  position: fixed;
  left: 0;
  top: 20%;
  width: 50px;
  z-index: 99;
}
#mappen{
  width:100vw;
  height:100vh;
}
#wrapper {
  position: relative;
}
#overkart {
  width: 100%;
  position: absolute;
  top: 35px;
  z-index: 99;
  text-align: center;
}
#row{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: black;
}
.bildemedtext{
  position: relative;
  text-align: center;
  bottom: -5px;
}
.hvit{
  background-color: white;
}
.svart{
  background-color: #282828;
  background-repeat: repeat-x;
}
#avsnitt3{
  background: linear-gradient(white,white, orange, #B23E24);
  background-repeat: repeat-x;
  padding-bottom: 0px;
}
#avsnitt4{
  background: linear-gradient(#5E1E14, #282828, #282828, #282828, #282828);
  background-repeat: repeat-x;
}
.tekstboks{
  position: absolute;
  bottom: -68px;
  left: 33px;
  border-radius: 8px;
  background-color: white;
  font-family: "Patua One", cursive;
  font-size: 1em;
  font-weight: 400;

  padding: 5%;
  width: 45%;
  margin: 1%;
}
#sol{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#sol2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
}
#neste{
  position: absolute;
  right: 0;
  bottom: 1%;
  width: 50px;
  z-index: 99;
}
#boble{
  position: absolute;
  right: 3%;
  top: 0%;
  z-index: 99;
}
#dager{
  background-image: url("./img/dager.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
}
#p1{
  color: #EFEFEF;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding: 8%;

}
#p4{
  color: #EFEFEF;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding: 8%;
  padding-top: 60px;

}
p{
  color: #282828;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding: 8%;
}

h1{
  color: #2A2A2D;
  font-family: "Patua One", cursive;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
  padding: 5%;
}
h2{
  color: #EFEFEF;
  font-family: "Patua One", cursive;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
  padding: 5%;
}
h3{
  font-family: "Patua One", cursive;
  font-weight: 400;
  font-size: 3em;
  padding: 5%;
  color: #EFEFEF;
  text-align: center;
}
body{
  background-color: white;
  margin: 0;
}
span{
  font-size: 20px;
  font-family: Helvetica;
  letter-spacing: 1px;
}
.bla{
  min-width:100vw;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}
