:root {
  --main: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container, .card {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

#container {
  background-color: var(--main);
}

.card {
  text-align: center;
  position: absolute;
}

.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 100vh;
  max-height: 50em;
  max-width: 15vw;
  cursor: pointer;
  opacity: .8;
}
